*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#universal{
    padding: 20px;
    background-color:bisque;
    margin: 20px;
}




#LogoNavDiv{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    min-height: 40px;
    background-color: beige;
    line-height: 40px;
}

#logoDiv{
    padding-left: 20px;
    width: 100%;
}

#navDiv{
    text-align: right;
    width: 100%;
    padding-right: 20px;
}

#headerDiv{
    background-color: beige;
    margin: 20px;
    min-height: 80px;
    line-height: 80px;
    text-align: center;
}

#introDiv{
    background-color: beige;
    margin: 20px;
    text-align: center;
    min-height: 60px;
    line-height: 60px;
}

#boxDiv{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.boxclass{
    background-color: beige;
    width: 30%;
    min-height: 200px;
    text-align: center;
    line-height: 200px;
}

#footDiv{
    background-color: beige;
    margin: 20px;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
}