body{

    background-color: antiquewhite;

}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#logoDiv{
    width:100%;
    background-color: azure;
    min-height: 50px;
    line-height: 50px;
    padding-left: 20px;
    margin:10px ;
}

#navDiv{
    width: 100%;
    background-color: azure;
    margin:10px;
    text-align: center;
    min-height: 40px;
    line-height: 40px;
}

#header{
    width: 100%;
    margin:10px;
    background-color: azure;
    text-align: center;
    min-height: 100px;
    line-height: 100px;
}

#parentDiv{
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: space-between;
}

#sideDiv{
    background-color: azure;
    width: 30%;
    min-height: 500px;
    text-align: center;
    line-height: 500px;

}

#bodyDiv{
    background-color: azure;
    line-height: 500px;
    min-height: 500px;
    width: 67%;
    text-align: center;
}

#footDiv{
    width: 100%;
    margin: 10px;
    background-color: azure;
    min-height: 40px;
    line-height: 40px;
    text-align: center;


}

