*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f8f5f0;
    color: #333;
}

#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffe3d6;
    padding: 10px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#navBar a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

#navBar a:hover{
    color: #d35400;
    transform: translateY(-2px);
}

#head h2{
    font-size: 26px;
    color: #d35400;
    font-weight: 600;
}


#parent{
    padding-top: 50px;
    box-sizing: border-box;
}

#achieve{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    
    


}

.boxy{
    background-color: bisque;
    width: 32%;
    min-height: 80px;
    line-height: 80px;
    text-align:center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
    

}